<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nestify</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="orange lighten-5">
    <header>
    <nav>
    <div class="nav-wrapper  green lighten-1">
      <a href="#" class="brand-logo center black-text">Nestify</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if uid}}
        {{else}}
        <li><a href="#" class=" waves-effect waves-light blue lighten-2 black-text">Sign Up</a></li>
        <li><a href="#" class=" waves-effect waves-light blue lighten-2 black-text">Login</a></li>
        {{/if}}
    </div>
  </nav>
    </header>
 
<main class="container">

{{{ body }}}

</main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>        
</body>
</html>