  <div class="intro center-align ">
        <p>Clean your home with ease, create a request telling us what you need and a proper cleaner will come to you.</p>
  </div>

  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
    </div>
    <div class="carousel-item green lighten-1 black-text" href="#one!">
      <h2>Latest Reviews</h2>
      <p class="black-text">User1 says: Wow I cannot believe how easy Nestify makes my life! </p>
      <i class="material-icons">star star star star star</i>
    </div>
    <div class="carousel-item green lighten-1 black-text" href="#two!">
      <h2>Latest Reviews</h2>
      <p class="black-text">User2 says: I am so relieved to have a program like Nestify.</p>
      <i class="material-icons">star star star star star_half</i>
    </div>
    <div class="carousel-item green lighten-1 black-text" href="#three!">
      <h2>Latest Reviews</h2>
      <p class="black-text">User3 says: If you need someone to watch your kids, look no further. Thanks Nestify!</p>
      <i class="material-icons">star star star star star</i>
    </div>
  </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, {
                fullWidth: true,
                indicators: true
            });
        });
    </script>
 
